//Colors
$darkGray: #282c34;
$lightGray: #969799;

$textDark: #333;
$textlight: #555;
$textGray: #999;
$textHover: #eee;
$textPrimaryDark: #00494f;
$textPrimary: #00696f;
$grayline: #383838;

$resumeBackground: #f9f9f9;

$primaryColor: #60d7a9;
$primaryDarkColor: #00696f;
$accentColor: #1ca7b8;

$font-large: 1.1em;
$font-medium: 1em;
